# Based on https://github.com/github/gitignore

# Gradle
.gradle/
.kotlin/

## Generated
build/
app/build/
app/release/

# Android Studio
captures/
.externalNativeBuild/
.cxx/

## Configuration files
local.properties
