# Based on https://github.com/gitattributes/gitattributes

# Auto detect text files and perform LF normalization
*									text=auto	eol=lf

# The above will handle all files NOT found below

# Tool configuration
## Git
.gitattributes						text
.gitignore							text

## Gradle
gradlew								text
gradlew.bat							text
gradle/wrapper/gradle-wrapper.jar	binary

## Others
.editorconfig						text

# Documents
## Plain text
.idea/.name							text
*.md								text

# Media
## Audio
*.mp3								binary

## Graphics
*.excalidraw						text	linguist-language=JSON
*.jpg								binary
*.png								binary
*.svg								text
*.webp								binary

## Video
*.mp4								binary

# Data
*.json								text
*.html								text
*.pro								text
*.properties						text
*.toml								text
*.yaml								text
*.xml								text

# Code
*.kt								text
*.kts								text
